<form>
    <div class="form-group">
        <label for="firstName">firstname</label>
        <input required ngModel name="firstName" type="text" id="firstName" #firstName="ngModel" (change)="log(firstName)" class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched &&!firstName.valid">first name is required</div>
    </div>
  <div class="form-group">
      <label for="comment">comment</label><br>
      <textarea   id="comment" cols="165" rows="10" class="form-contrl"></textarea>
    </div>
    <button class="btn btn-primary">submit</button> 
</form>