<!-- <h1> angular</h1>
<courses></courses>

<div (click)=" onDivclicked()">
    <button (click)="onSave($event)">save</button>
    <div>

        <input [(ngModel)]="email" (keyup.enter)="onKeyUp()" /><br> {{col.title|uppercase}}

        <br> {{col.students|number}}
        <br> {{col.rating|number:'1.1-1'}}
        <br> {{col.price|currency:'INR'}}
        <br> {{col.releaseDate|date:'shortDate'}}
        <br> {{text|summary }} -->


<!-- <div *ngIf="courses.length > 0; then courselist else noCourse ">

</div>

<ng-template #courselist>
    List of course
</ng-template>

<ng-template #noCourse>
    no courses yet
</ng-template> -->

<!-- <ul class="nav nav-pills">
    <button class="btn btn-primary"><li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map view</a></li></button>
    <button><li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'"> list view</a></li></button> 
    
</ul>
<div [ngSwitch]="viewMode">
<div *ngSwitchCase="'map'">map view</div>
<div *ngSwitchCase="'list'"> list view</div> 
<div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- <button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses; even as isEven">
      {{course.name}} <span *ngIf="isEven"> (Even)</span>
      <button (click)="onchange(course)">Remove</button>
    </li>
</ul> -->

<!-- <button (click)="loadCrouses()">Add</button>
<ul>
    <li *ngFor="let course of courses; trackBy:trackCourse">
      {{course.name}} 
     
    </li>
</ul> -->

<!-- <button
[style.backgroundColor]="canSave ? 'blue' : 'gray'"
[style.color]="canSave ? 'white': 'black'"
[style.fontWeight]="canSave ? 'bold':'normal'" >
  Save
</button> -->

<!-- <span>{{ task.assignee?.name}}</span> -->

<!-- <input type="text" [appInputFormat]="'uppercase'"> -->

<!-- <app-contact-form></app-contact-form> -->

<!-- <app-signup-form></app-signup-form> -->
<app-post></app-post>